body {
    background: fixed url(championsbg.jpg);
    background-size: cover;
    color: #000;
}

h1 {
    display: block;
    font-family: 'Nova Flat', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: justify;
}

#title {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
    font-style: italic;
}

img {
    height: auto;
    width: 150px;
    cursor: pointer;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}

.container {
    margin: 50px;
    padding: 50px;
    border: 5px solid #000;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: transform .5s;
}

.container img:hover {
    transform: scale(1.25); 
}

#main img {
    margin-left: 20px;
    height: 100px;
    width: auto;

}

@media screen and (max-width: 400px) {
    #title {
        font-size: 50px;
    }
    
    #main img {
        height: 50px;
        width: auto;
    }

    .container img {
        height: 50px;
        width: auto;
    }

    .container h1 {
        font-size: 25px;
    }
}